<% content_for :body do %>
  <%= raw @page.content_for(Refinery::Pages.default_parts.first[:slug].to_sym) if Refinery::Pages.default_parts.any? %>

  <% if @posts.any? %>
    <section id="blog_posts">
      <% even_posts = @posts.values_at(* @posts.each_index.select(&:even?)) %>
      <% odd_posts = @posts.values_at(* @posts.each_index.select(&:odd?)) %>
      <div class="row">
        <div class="row hide-on-large-only">
          <div class="col s12">
            <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
          </div>
        </div>
        <div class="row hide-on-med-and-down">
          <div class="col l6">
            <div class="row">
              <%= render :partial => "/refinery/blog/shared/post", :collection => even_posts %>
            </div>
          </div>
          <div class="col l6">
            <div class="row">
              <%= render :partial => "/refinery/blog/shared/post", :collection => odd_posts %>
            </div>
          </div>
        </div>
      </div>
      <%= will_paginate @posts %>
    </section>
  <% else %>
    <p><%= t('.no_blog_articles_yet') %></p>
  <% end %>
<% end %>

<% content_for :side_body_prepend do -%>
  <%= raw @page.content_for(Refinery::Pages.default_parts.second[:slug].to_sym) %>
<% end if Refinery::Pages.default_parts.many? -%>
<%= render '/refinery/blog/shared/body_content_right' %>

<%= render "/refinery/content_page" %>
<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
