<% content_for :side_body do %>
  <%= yield(:side_body_prepend) %>
  <div class="row">
    <div class="col s6">
      <div class="row">
        <%= render "/refinery/blog/shared/rss_feed" %>
        <%= render "/refinery/blog/shared/posts" %>
      </div>
    </div>
    <div class="col s6">
      <div class="row">
        <%= render "/refinery/blog/shared/categories" %>
        <%= render "/refinery/blog/shared/tags" %>
      </div>
    </div>
    <%= blog_archive_widget %>
  </div>
  <%= yield(:side_body_append) %>
<% end %>
